@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }

  * {
    animation : none !important;
    transition-property: none !important;
  }
}


body {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1rem;
}


h5 {
  font-weight: bold;
}

.remark-slide-content {
  padding: 1em 3em 1em 3em;
  _background: linear-gradient(
  );
  background-image: linear-gradient( 
    180deg,
    rgb(0, 0, 230),
    blue 40px,
    white 25px,
    white 55px
  ), url("ri7.png");
}
.remark-slide-content li { font-size: 0.9em; }
.remark-slide-content h1 { font-size: 2.9em; }
.remark-slide-content h2 { font-size: 2.2em; }
.remark-slide-content h3 { font-size: 1.5em;  color: #04347b; }
.remark-slide-content h4 { font-size: 1.2em; font-weight: bold; }
.remark-slide-content p { font-size: 0.9em; }
.footnote {
  position: absolute;
  bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  background: #343434;
  border-radius: 2px;
  padding: 1px 4px;
  color: #fff;
}
.remark-code, .remark-code-inline, .remark-inline-code { font-family: 'Ubuntu Mono'; font-size: 0.7em; }
.remark-inline-code { font-size: 0.8em; }
.remark-code-line-highlighted     { background-color: #111306; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content pre code {
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 24%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-of-type, .left-column h4:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.small{
  font-size: 0.8em;
  color: #333;
  border: solid 1px #333;
  border-radius: 0.2em;
  padding: 0 0.5em;
}

.info {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
  padding: 0 1rem;
  align-items: center !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

table {
  border-color: #dee2e6;
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
}

table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.left-column h3 {
  margin-top: 28px;
}

.left-column h2 {
  margin-top: 30px;
}

.hljs-monokai .hljs-deletion {
  color: #eb4d4da1;
}